<a href="https://colab.research.google.com/github/biomedist/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_2%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 2강 - 데이터 분석을 위한 파이썬 1

## 2-1 리스트 슬라이싱

In [2]:
numbers = [10, 20, 30, 40, 50, 60, 70]
# 첫 4개의 원소 출력
first_four = numbers[:4]
print(first_four)
# 뒤 3개의 원소를 출력
last_three = numbers[-3:]
print(last_three)

[10, 20, 30, 40]
[50, 60, 70]

In [3]:
numbers = [10, 20, 30, 40, 50, 60, 70]

# 홀수번째 항목 출력
every_other_list = numbers[ : : 2]
print(every_other_list)

# 역순 출력
reverse_list = numbers[ : : -1]
print(reverse_list)

[10, 30, 50, 70]
[70, 60, 50, 40, 30, 20, 10]

In [4]:
matrix = [
    [1, 2, 3, 4],               #1차원에서의 0
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

# 첫 두 행 출력
first_two_rows = matrix[0:2]

print(first_two_rows)

# 첫 두 열 출력
first_two_columns = [row[0:2] for row in matrix]

print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

## 2-2 리스트 컴프리헨션

In [5]:
numbers = [ ]

# 0 ~ 4 포함 리스트 생성/ 숫자를 5개를 가져와서 numbers에 넣어라
numbers = [num for num in range(5)]

print(numbers)

[0, 1, 2, 3, 4]

In [7]:
numbers = [1, 2, 3, 4, 5]
squares = [ ]

# numbers의 모든 항목의 값을 제곱한 리스트
#squares에 집어 넣는데 numbers에 있는 1~5까지의 수를 가져와서 num에 집어넣는데 num값을 제곱해서 squares에 집어넣어라
squares = [num ** 2 for num in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [ ]

# 짝수만 추출한 리스트
even_numbers = [num for num in numbers if num %2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10]

In [9]:
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [ ]

# 두 리스트에 포함되 모든 원소를 조합한 튜플의 리스트 생성

pairs = [(fruit, product) for fruit in list1 for product in list2] #중첩된 for문

print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [11]:
squares = { }  #중괄호가 딕셔너리 특징

# 딕셔너리 생성
for i in range(5):
    squares[i] = i ** 2
#squares라는 딕셔너리를 만들거야 i로 끝나는게 아니라: i의 제곱된 값이 들어가는데 그 i는 어디에 있냐면 range(5)
squares = {i: i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [1]:
city_population = {
    '서울': 957, '부산': 339, '인천': 294, '대구': 242, '광주': 145, '대전': 147,
    '울산': 114, '세종': 36, '수원': 115, '창원': 103, '고양': 105, '용인': 108, '성남': 94
}

# 인구 200만명 이상의 도시 리스트
# items() 각각의 딕셔너리 엘리먼트가 하나의 튜플로 묶여서 넘어옴
large_cities = {city: pop for city, pop in city_population.items() if pop >= 200}
print(large_cities)

# 인구 300만 이상 및 이름에 '산'이 포함된 도시 리스트
large_short_name_cities = {city: pop for city, pop in city_population.items() if pop >= 300 and
                           '산' in city}
print(large_short_name_cities)

{'서울': 957, '부산': 339, '인천': 294, '대구': 242}
{'부산': 339}

## 2-3 문자열 형식화

In [2]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
tax = salary * tax_rate
net_salary = salary - tax

# C 스타일(%연산자) 문자열 포매팅
# 이름, 나이, 월급 출력 #형식지정자의 순서에 맞게끔 어떤 변수를 넣어줌
basic_format = '이름:%s, 나이:%d, 월급: %d원' %(name, age, salary)

# 직원이름, 나이, 세후 월급 출력
index_format = '이름:%s, 나이:%d, 세후 월급:%d원' %(name,age,salary*(1-tax_rate))

# 직원이름, 나이, 월급, 세금, 실수령액 출력
keyword_format = '이름:%s, 나이:%d, 월급: %d원, 세금: %d원, 실수령액:%d원' %(name, age, salary, tax, net_salary)

print(basic_format)
print(index_format)
print(keyword_format)

이름:홍길동, 나이:30, 월급: 3500000원
이름:홍길동, 나이:30, 세후 월급:3150000원
이름:홍길동, 나이:30, 월급: 3500000원, 세금: 350000원, 실수령액:3150000원

In [10]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
tax = salary * tax_rate
net_salary = salary - tax

# str.format 문자열 포매팅
# 이름, 나이, 월급 출력
basic_format = '이름:{0}, 월급:{2}, 나이:{1}, 월급:{2}원'.format(name, age, salary)

# 직원이름, 나이, 세후 월급 출력
index_format = '이름:{}, 나이:{}, 세후 월급:{}원'.format(name, age, int(salary*(1-tax_rate)))

# 직원이름, 나이, 월급, 세금, 실수령액 출력
keyword_format = '이름:{}, 나이:{}, 월급:{}원, 세금:{}원, 실수령액:{}원'.format(name, age, salary, int(tax), int(net_salary ))

print(basic_format)
print(index_format)
print(keyword_format)

이름:홍길동, 월급:3500000, 나이:30, 월급:3500000원
이름:홍길동, 나이:30, 세후 월급:3150000원
이름:홍길동, 나이:30, 월급:3500000원, 세금:350000원, 실수령액:3150000원

In [14]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1

# f-문자열 포매팅 #훨씬더 직관적이고 관리도 쉽다
# 이름, 나이, 월급 출력
basic_format = F'이름:{name},나이:{age}, 월급:{salary:,}원'

# 직원이름, 나이, 세후 월급 출력
index_format = F'이름:{name},나이:{age}, 세후 월급:{salary*(1-tax_rate):,.0f}원'

# 직원이름, 나이, 월급, 세금, 실수령액 추력
keyword_format = F'이름:{name},나이:{age}, 월급:{salary}원, 세금:{salary*tax_rate:,.0f}원, 실수령액:{salary*(1-tax_rate):,.0f}원'

print(basic_format)
print(index_format)
print(keyword_format)

이름:홍길동,나이:30, 월급:3,500,000원
이름:홍길동,나이:30, 세후 월급:3,150,000원
이름:홍길동,나이:30, 월급:3500000원, 세금:350,000원, 실수령액:3,150,000원

## 2-4 컨텍스트 관리

In [20]:
# 파일 오픈 & 클로즈 #왼쪽 폴더에서 확인 output.txt
with file = open('output.txt', 'w') as file_write:
    file_write.write('Hello, world!\n')

SyntaxError: invalid syntax (ipython-input-657823403.py, line 2)

In [ ]:
# 복수개의 파일(읽기 & 쓰기) 관리

In [ ]:
import urllib.request

# URL 연결 관리
('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv')
    data = response.read( ).decode('utf-8')

print(data)